.smoke {
    -webkit-mask-image: url("/images/hooks/smoke_image.webp");
    mask-image: url("/images/hooks/smoke_image.webp");
    -webkit-mask-size: 100% 3600%;
    mask-size: 100% 3600%;
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
    width: fit-content;
    &.is_play {
        -webkit-animation: mask-play 1.5s steps(35) 0.2s forwards;
        animation: mask-play 1.5s steps(35) 0.2s forwards;
    }
}

@-webkit-keyframes mask-play {
    0% {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    100% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
    }
}

@keyframes mask-play {
    0% {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    100% {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
    }
}
